<div class="d-flex flex-wrap">
  // There should be a partial here
  <% @quizzes.each do |quiz| %>
    <% if quiz.questions.count > 0 %>
      <div class="p-4 m-4 shadow-sm bg-white rounded flex-grow-2">
        <h4><%= quiz.title %></h4>
        <% if user_signed_in? %>
          <% if quiz.score(quiz) > 60 %>
            <p class="text-success">Score : <%= quiz.score(quiz) %>%  - Vous avez réussi ce test !</p>
          <% else %>
            <p class="text-danger">Score : <%= quiz.score(quiz) %>%  - Vous n'avez pas encore réussi ce test</p>
          <% end %>
        <% end %>
        <ul class="list-group list-group-flush">
        // Again, a partial here => https://guides.rubyonrails.org/layouts_and_rendering.html
          <% quiz.questions.each do |q| %>
            <li class="list-group-item">
              <%= q.question %>
                <% if user_signed_in? %>
                // Why not activerecord ? where(x, y)
                // Even better calling something like q.user_answer(user)
                  <% @scores.each do |s| %>
                    <% if s.quiz_id === quiz.id && s.question_id === q.id %>
                      <p>Ma réponse : <strong><%= s.answer %></strong></p>
                    <% end %>
                  <% end %>
                <% end %>

            </li>
          <% end %>
        </ul>
        <%= link_to 'Commencer le quiz', quiz_question_path(quiz, quiz.questions.first), class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
</div>


